@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container {
    max-width: 95%;
    width: 100%;
    background-color: #fff;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    max-height: 95%;
    height: 100%;
}
 .title{
  font-size: 15px;
  font-weight: 400;
  position: relative;
}
 .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
 .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2px 0 2px 0;
}
 .user-details .input-box{
  margin-bottom: 1px;
  width: calc(100% / 4 - 2px);
}

    .user-details .input-3box {
        margin-bottom: 1px;
        width: calc(100% / 3 - 2px);
    }

 .user-details .button1 {
    margin-bottom: 1px;
    width: calc(100%  - 3px);
}

.buttonAdd {
    margin-bottom: 1px;
    width: calc(100% - 3px);
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #00c928;
    max-width:200px;
}
 .buttonAdd:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.buttonCancel {
    margin-bottom: 1px;
    width: calc(100% - 3px);
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: red;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .buttonCancel:hover {
        /* transform: scale(0.99); */
        background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }
  

 .input-box span.details {
    font-size: 11px;
    display: block;
    font-weight: 800;
    margin-bottom: 1px;
}

.input-box span.details1 {
    font-size: 11px;
    display: block;
    font-weight: 800;
    margin-bottom: 1px;
    color:transparent;
}
.user-details .input-box input{
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 13px;
  border-radius: 5px;
  padding-left: 1px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
  .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 input[type="radio"]{
   display: none;
 }
.button {
    height: 45px;
    margin: 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonUpdate {
    height: 45px;
    margin: 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .button1 {
    height: 45px;
    width :50px;
}
.button input {
   
    height: 100%;
    width: 300px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.button1 input {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(to bottom right, #2bcc66, #21a652)
}
 .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }

    form .button1 input:hover {
        /* transform: scale(0.99); */
        background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }
.buttonUpdate input {
    height: 100%;
    width: 200px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    /*background: linear-gradient(135deg, #71b7e6, #71b7e6);*/
}
    .buttonUpdate input:hover {
        /* transform: scale(0.99); */
        background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }

.buttonClose input {
    height: 100%;
    width: 200px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #00c95b, #00c91e);
}

    .buttonClose input:hover {
        /* transform: scale(0.99); */
        background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }
 @media(max-width: 100%){
 .container{
  max-width: 100%;
}
 .user-details .input-box{
    margin-bottom: 5px;
    width: 100%;
  }
    .user-details .input-3box {
        margin-bottom: 5px;
        width: 100%;
    }
   .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
